{% load static %}
<header id="header">
    <div class="container">
       <div class="row" id="headwrap">
          <div class="col-md-3 col-sm-6 slogan">
             
               <img style="weight:70px;height:70px;" src="{% static 'logo.png' %}" alt="My image">
             </a>
             
          </div>
          <div class="col-md-5 col-sm-6 halim-search-form hidden-xs">
             <div class="header-nav">
                <div class="col-xs-12">
                   <form id="search-form-pc" name="halimForm" role="search" action="{% url 'book:search' %}" method="GET">
                      <div class="form-group">
                         <div class="input-group col-xs-12">
                            <input id="search" type="text" name="keywords" class="form-control" placeholder="Tìm kiếm..." autocomplete="off" required>
                            <i class="animate-spin hl-spin4 hidden"></i>
                         </div>
                      </div>
                   </form>
                   <ul class="ui-autocomplete ajax-results hidden"></ul>
                </div>
             </div>
          </div>
          <div class="col-md-4 hidden-xs">
            <div id="get-bookmark" class="box-shadow">
               <i class="hl-bookmark"></i>
               <span> Bookmarks</span><span class="count">0</span>
               {% if request.session.username %}
                  <a href="{% url 'user:account' %}">{{request.session.username}}<a> <span> | <span>
                  <a href="{% url 'user:logout' %}">Logout<a>
               {% else %}
                  <a href="{% url 'user:login' %}">Login<a>
               {% endif %}
               
            </div>
             <div id="bookmark-list" class="hidden bookmark-list-on-pc">
                <ul style="margin: 0;"></ul>
             </div>
          </div>
       </div>
    </div>
 </header>
 
 <div class="navbar-container">
    <div class="container">
       <nav class="navbar halim-navbar main-navigation" role="navigation" data-dropdown-hover="1">
          <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#halim" aria-expanded="false">
             <span class="sr-only">Menu</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             </button>
             <button type="button" class="navbar-toggle collapsed pull-right expand-search-form" data-toggle="collapse" data-target="#search-form" aria-expanded="false">
             <span class="hl-search" aria-hidden="true"></span>
             </button>
             <button type="button" class="navbar-toggle collapsed pull-right get-bookmark-on-mobile">
             Bookmarks<i class="hl-bookmark" aria-hidden="true"></i>
             <span class="count">0</span>
             </button>
             <button type="button" class="navbar-toggle collapsed pull-right get-locphim-on-mobile">
             <a href="javascript:;" id="expand-ajax-filter" style="color: #ffed4d;">Lọc <i class="fas fa-filter"></i></a>
             </button>
          </div>
          <div class="collapse navbar-collapse" id="halim">
             <div class="menu-menu_1-container">
                <ul id="menu-menu_1" class="nav navbar-nav navbar-left">
                   <li class="current-menu-item active"><a title="Trang Chủ" href="{% url "core:index" %}">Trang Chủ</a></li>
                   <li class="mega"><a title="Books New" href="{% url 'book:booksnew' page=1%}">Sách mới nhất</a></li>
                   <li class="mega"><a title="Ranking" href="{% url "book:ranking" %}">Bảng xếp hạng</a></li>
                   <li class="mega"><a title="FavouriteBook" href="{% url "book:favourite" %}">Sách đánh dấu</a></li>
                   <li class="mega"><a title="Reading History" href="{% url "chapter:reading_history" %}">Lịch sử đọc</a></li>
                   <li class="mega dropdown">
                      <a title="Thể Loại" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Thể Loại <span class="caret"></span></a>
                      <ul role="menu" class=" dropdown-menu">
                        {% for gr in genres_list %}
                         <li><a title="{{gr.genre_name}}" href="{% url "genre:genre_by_slug" gr.genre_slug%}">{{gr.genre_name}}</a></li>
                        {% endfor %}
                      </ul>
                   </li>
                </ul>
             </div>
             <ul class="nav navbar-nav navbar-left" style="background:#000;">
                <li><a href="#" onclick="locphim()" style="color: #ffed4d;">Lọc Sách</a></li>
             </ul>
             
            <ul class="nav navbar-nav navbar-right" style="background:#000;">
               <a class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Thông báo
               <span class="caret"></span></a>
               <ul class="dropdown-menu">
                  {% for notification in notifications_user %}
                 <li><a href="{% url 'chapter:chapter_by_slug' notification.chapter.book.book_slug notification.chapter.chapter_slug %}">{{notification.notification_content}}</a></li>
                 {% endfor %}
               </ul>
            </ul>
            
         </div>
       </nav>
       <div class="collapse navbar-collapse" id="search-form">
          <div id="mobile-search-form" class="halim-search-form"></div>
       </div>
       <div class="collapse navbar-collapse" id="user-info">
          <div id="mobile-user-login"></div>
       </div>
    </div>
 </div>
 </div>